* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}

.wrapper {
    margin-bottom: 200px;
}

.desc {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 20px;
}

li {
    list-style-type: none;
}

body {
    background-color: orange;
}

#app {
    width: 90%;
    max-width: 900px;
    margin: auto;
}

.ashiatoList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 3%;
}

.ashiatoList li {
    aspect-ratio: 1 / 1;
    line-height: 0;
    position: relative;
}

.ashiatoList li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card img.ashiato {
    padding: 10px;
    background: #fff;
    z-index: 2;
}

.card img.image {}

$time: 0.15s;

.card {

    &.card_opened {
        img.ashiato {
            transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
            animation: openHalfAnime forwards $time;
        }

        img.image {
            transform: perspective(600px) translate3d(0, 0, 0) rotateY(-90deg);
            animation: openEndAnime forwards ($time * 4) ease-out $time;
        }
    }

    &.card_closed {
        img.ashiato {
            transform: perspective(600px) translate3d(0, 0, 0) rotateY(-90deg);
            animation: closeEndAnime forwards ($time * 4) ease-out $time;
        }

        img.image {
            transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
            animation: closeHalfAnime forwards $time;
        }        
    }
}

@keyframes openHalfAnime {
    0% {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
    }

    100% {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(90deg);
    }
}

@keyframes openEndAnime {
    0% {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(-90deg);
    }

    40% {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(20deg);
    }

    100% {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
    }
}


@keyframes closeHalfAnime {
    0% {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
    }

    100% {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(-90deg);
    }
}

@keyframes closeEndAnime {
    0% {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(90deg);
    }

    40% {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(-20deg);
    }

    100% {
        transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
    }
}